body {
    background-image: url("../img/caniuse-bg.png");
}

#main {
    background-color: #F5EDD9;
}

#symbol {
    background-color: #F6761F;
    color: white;
}


/*下方信息*/

#text-line {
    background: #e0c89b;
}


/*中间按钮*/

.button {
    background-color: rgba(0, 0, 0, 0.03);
    color: #888;
}