/*整体块布局*/
body,html{
	height: 100%;
	width: 100%;
}
#main{
	position: absolute;
	left: 5%;
	width: 90%;
	/*height: 90%;*/
}

/*上方块布局*/
#top{
	display: block;
	overflow: auto;
}
#header_intro{
	display: table-cell;
	overflow: auto;
	max-width: 60%;
	float: left;
}
h1{
	display: block-inline;
	padding-left: 50px;
}
#intro{
	display: block-inline;
	margin-left: 30px;
	line-height: 30px;
	max-width: 576px;
}
#global{
	display: table-cell;
	line-height: 50px;
	min-width: 280px;
	float: right;
}
@media (max-width:777px)  {
	#global{
		float: left;
		margin: 30px;
	
	}
}

/*中间部分的按钮*/
.button,.wbutton{
	display: inline;
	padding: 7px;
}
.wbutton{
	margin-left: 20px;
}
.button{
	margin-right: 1px;/*有一个细小的缝隙*/
}
#button-line{
	margin-top:50px;
	margin-left:30px;
}
@media (max-width: 777px){
	#button-line{
		position: absolute;
		top: -42px;
		left: 25px;
	}
}